body {
    padding-top: 56px;
    font-family: 'Arial', sans-serif;
}

#home {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imgaudiblur.png') no-repeat center center;
    background-size: cover;
    color: #333;

}

#viviendas {
    background: url('imgfrenteblur.png') no-repeat center center;
    background-size: cover;
}

.card {
    backdrop-filter: blur(10px);
    background: #d5c4b4;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
}

.form-control {
    border-radius: 8px;
    padding: 9px;
}

.btn-primary {
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
    text-align: left;
    background-color: #d49e3e;
    border-color: #d7a045;
}

.btn-primary:hover {
    transform: scale(1.02);
    background-color: #e0ae4d;
    border-color: #d7a045;
}

.btn-secondary {
    padding: 12px;
    max-width: 100px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
    text-align: left;
    background-color: #d49e3e;
    border-color: #d7a045;

}

.btn-secondary:hover {
    transform: scale(1.02);
    background-color: #e0ae4d;
    border-color: #d7a045;
}


section {
    scroll-margin-top: 56px;
}

.invalid-feedback {
    font-size: 0.875rem;
}

@media (max-width: 768px) {
    .card-body {
        padding: 1.5rem !important;
    }
}
