body {
    padding-top: 56px;
    font-family: 'Arial', sans-serif;
}

#home {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imgaudiblur.png') no-repeat center center;
    background-size: cover;
    color: #333;

}

#sn {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imgfrenteblur.png') no-repeat center center;
    background-size: cover;
    color: #333;

}

.jh{
    box-align: center !important;
    padding: 1px;
    display: flex;
    background-color: #d5c4b4;
    width: 400;
    margin-left: 45px;
    border-radius: 15px;

}
p{
    text-indent: 10px;
}
#viviendas {
    background: url('imgfrenteblur.png') no-repeat center center;
    background-size: cover;
}

.card {
    backdrop-filter: blur(10px);
    background: #d5c4b4;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
    
.card:hover {
    transform: translateY(-3px);
}

.sns {
    backdrop-filter: blur(10px);
    background: #d5c4b4;
    border-radius: 15px 0 0 15px;
    transition: transform 0.3s ease;
    width: 600px;
    height: 600px;
    flex: 1;
    margin-right: 0;
    padding: 20px;
    box-shadow: none !important;
}

.ffs {
    border-radius: 0 15px 15px 0;
    width: 600px;
    height: 600px;
    margin-left: 0px;
    flex: 1;
    box-shadow: none !important;
}



.form-control {
    border-radius: 8px;
    padding: 9px;
}

.btn-primary {
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
    text-align: left;
    background-color: #d49e3e;
    border-color: #ab8337;
}

.btn-primary:hover {
    transform: scale(1.02);
    background-color: #e0ae4d;
    border-color: #ab8337;
}

.btn-secondary {
    padding: 12px;
    max-width: 100px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s ease;
    text-align: left;
    background-color: #d49e3e;
    border-color: #ab8337;

}

.btn-secondary:hover {
    transform: scale(1.02);
    background-color: #e0ae4d;
    border-color: #ab8337;
}


section {
    scroll-margin-top: 56px;
}

.invalid-feedback {
    font-size: 0.875rem;
}

@media (max-width: 768px) {
    .card-body {
        padding: 1.5rem !important;
    }

    #sn {
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('imgfrenteblur.png') no-repeat center center;
        background-size: cover;
        width: 1300px;
        color: #333;
    }

    .consh{
        margin-left: 500px;
        display: grid;
    }

}
